<%- include('./partials/header') %>

<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/games">ALL GAMES</a>
  <a href="/games/new">ADD GAME</a>
</body>

</html>

<%- include('./partials/footer') %>