<%- include('../partials/header') %>

<form id="new-form" action="/games" method="POST">
  <label>Logo:</label>
  <input type="text" name="logo">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Genre:</label>
  <input type="text" name="genre">
  <label>Description:</label>
  <input type="text" name="description">
</form>

<%- include('../partials/footer') %>